<form action="/new-ricardo" method="POST">
  <div class="form-group">
    <label for="ingredient">Enter the ingredient you would like to search for on Ricardo</label>
    <input type="text" class="form-control" id="ingredient" name="ingredient">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
